.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 1000px;
}
.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}
.headerStyle {
    background: #6200EE !important;
}
.button{
    background: #6200EE !important;
}
.footer{
    background: #1C2C15 !important;
    color: white !important;
}
.labelStyle{
    & .ant-col {
    & .ant-form-item {
    & .ant-form-item-label {
    &.ant-form-item-required{
        color: white !important;
        //YOUR CUSTOM STYLE
      }
    }
}
}
}

.ticketDetail{
    background-color: white;
    text-align: center;
    width: 20rem;
    height: 27rem;
    margin-left: 18rem;
}

.cell-class {
    border-color: black; 
    border-width: .05rem; 
    border-style:solid; margin-bottom : -1px;
    background-color: white;
    width: 25% !important;
}